body {
  margin: 0;
}

container {
  background-color: aquamarine;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cadre {
  border: 1px solid #DD22CC;
  border-radius: 4px;
  padding: 30px;
  /* background-color: #EE00CC; */
  background-color: #EE00CC;
  box-shadow: 0 30px 30px 10px rgba(0, 0, 0, 40%);
  /* pra que a shadow fique absolute */
  position: relative;
}

.tableau {
  background-image: url('./img/sinapses1.jpg');
  background-size: cover;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 70%);
  border: 1px solid #CC00CC;
  width: 600px;
  height: 450px;
  position: relative;
}

.tableau-shadow {
  /* position: absolute; */
  width: 600px;
  height: 450px;
  /* border: 1px solid; */
  position: absolute;
  top: 30px;
  left: 30px;
  box-shadow: 0 0 25px 2px rgba(0, 0, 0, 10%);
}

.reflexe {
  position: absolute;
  /* border: 1px solid; */
  width: 99.6%;
  height: 99.5%;
  top: 0;
  left: 0;
  /* background-color: rgba(255, 255, 255, 5%);
  backdrop-filter: blur(0.5px); */
}

.reflexe2 {
  /* border: 1px solid; */
  border-radius: 50%;
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: rgba(255, 255, 255, 20%);
  top: 0;
  left: 70%;
  transform-origin: top left;
  transform: skew(-40deg);
  box-shadow: 0 10px 8px 10px rgba(255, 255, 255, 90%);
}
